<div class="nested-fields form-inline">
  <%= f.label :"材料名" %>
  <%= f.text_field :name, placeholder: "材料名", size: "20", class: "form-control" %>

  <%= f.label :"単位" %>
  <%= f.text_field :unit, placeholder: "本", size: "10", class: "form-control" %>
</div>