<div class="container">

   <%= @recipes.each do |recipe| %>

    <%= link_to recipe_path(recipe) do %>
       <%= attachment_image_tag recipe, :image, format: 'png', size: "50x50", fallback: "no-image.png", class: "border border-white" %>
       <%= recipe.name %>
    <% end %>

   <% end %>

 </div>