 <div class="wrapper">

<!--タブ名-->
  <ul class="tab">
    <li><a href="#japanese">和食</a></li>
    <li><a href="#western">洋食</a></li>
    <li><a href="#italy">イタリアン</a></li>
    <li><a href="#chinese">中華</a></li>
    <li><a href="#ethnic">アジア/エスニック</a></li>
    <li><a href="#others">その他</a></li>
  </ul>

<!--タブの中身-->
    <div id="japanese" class="area">
       <!--< if @genre =="japanese" %>-->
      <h2>和食</h2>
        <!--<= @genres.each do |genre| %>-->
        <!--< end %>-->
    </div>

    <div id="western" class="area">
      <h2>洋食</h2>
      <ul>
        <li>ウーロン茶</li>
        <li>オレンジジュース</li>
        <li>ジンジャーエール</li>
      </ul>
    </div>

    <div id="italy" class="area">
      <h2>イタリアン</h2>
      <ul>
        <li>カレーライス</li>
        <li>ドリア</li>
        <li>グラタン</li>
      </ul>
    </div>

    <div id="chinese" class="area">
      <h2>中華</h2>
      <ul>
        <li>カレーライス</li>
        <li>ドリア</li>
        <li>グラタン</li>
      </ul>
    </div>

    <div id="ethnic" class="area">
      <h2>アジア/エスニック</h2>
      <ul>
        <li>カレーライス</li>
        <li>ドリア</li>
        <li>グラタン</li>
      </ul>
    </div>

    <div id="others" class="area">
      <h2>その他</h2>
      <ul>
        <li>カレーライス</li>
        <li>ドリア</li>
        <li>グラタン</li>
      </ul>
    </div>

　</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>

