 <img src="assets/logo.png" class="d-block mx-auto" alt="">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>１週間の献立</h4>
      <table class="table">
        <thead>
          <tr>
            <th>日付/曜日</th>
            <th>朝</th>
            <th>昼</th>
            <th>夜</th>
            <th>memo<th>
          </tr>
        </thead>

　　　　<tbody>
　　　    <tr>
　　　      <td><h6>日付</h6></td>
　　　      <td><h6>朝食</h6></td>
　　　      <td><h6>昼食</h6></td>
　　　      <td><h6>夕食</h6></td>
　　　      <td><h6>めも</h6></td>
　　　    </tr>
        </tbody>

      </table>
   </div>
  </div>
</div>