<div class="container">
 <div class="row">
  <img src="assets/logo.png" class="d-block mx-auto" alt=""></img>
 </div>


  <div class="row">
    <div class="col-md-10 mx-auto">
      <h4>今週の献立</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>日付/曜日</th>
            <th>朝</th>
            <th>昼</th>
            <th>夜</th>
            <th>memo<th>
          </tr>
        </thead>

        <tbody>
         <tr>
           <% @daily_menus.each do |daily_menu| %>
           <td>日付</td>
           <td><%= attachment_image_tage daily_menu, :image, format: 'png', size: "50x50", fallback: "no-image.png", class: "border border-white" %>朝食</td>
           <td><%= attachment_image_tage daily_menu, :image, format: 'png', size: "50x50", fallback: "no-image.png", class: "border border-white" %>昼食</td>
           <td><%= attachment_image_tage daily_menu, :image, format: 'png', size: "50x50", fallback: "no-image.png", class: "border border-white" %>夕食</td>
           <td>めも</td>
           <% end %>
         </tr>
        </tbody>
        
      </table>
   </div>
  </div>
</div>