<div class="container">
  <div class="row">
    <div class="col-md-10, text-center">
      <h4>お問い合わせを送信しました!</h4>

      <br />

       <%= link_to "TOPへ戻る", weekly_menus_path, class: 'btn btn-outline-secondary' %>

   </div>
  </div>
</div>