<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h3>お問い合わせを送信しました!</h3>

      <br />

       <%= link_to "TOPへ戻る", weekly_menus_path, class: 'btn btn-outline-secondary' %>

   </div>
  </div>
  <br />
</div>