<div class="row justify-content-center">
    <div class="col-md-10">

      <h4>このサイトの使い方</h4>

      <br>

      <h6>
      １.「New recipe」から自分が作れる料理のレシピ（作りたいものでも可）ジャンル、材料名や、手順などを登録します。
      <br><br>
      ２.「Making menu」から、献立に組み込みたいレシピと、日付、朝食/昼食/夕食のいずれかを選択することで、カレンダーに献立が表示されます。
      <br><br>
      ３.今週１週間分の献立が、トップ画面に表示されます。
      </h6>
      <br>
      <h6>レシピ一覧では料理のジャンルごとにレシピを確認することが可能です。 <br>
      また、「Shopping list」では、最大３週間分のお買い物リスト（先週から翌週まで）が確認できます。
      <br><br>
      ぜひ、お買い物にお役立てください！
      </h6>
    </div>
  </div>
 <br>