<h4>このサイトの使い方</h4>

<h6>
１.自分が作れる料理のレシピ（作りたいもののレシピでも可）や材料などを登録します。<br>
２.レシピ一覧の中から献立に組み込みたいレシピを選択し、献立(最大１週間分)を直感的に作成できます。
</h6>
<br>
<h6>レシピ一覧ではキーワードやジャンルでレシピを検索することが可能です。 <br>
また、材料一覧から、お買い物リストを確認することもできます。
</h6>