<img src="<%= asset_path("logo.png") %>" class="d-block mx-auto" alt=""></img>

<div class="text-center">
 <h4>MY RECIPEは毎日の献立作りをお手伝いするサイトです。</h4>
 <h6>このサイトひとつで、レシピの確認から<br>
     日々の献立作りまで行うことができます。</h6>
</div>