<img src="<%= asset_path("logo.png") %>" class="d-block mx-auto" alt=""></img>

<div class="container">
 <div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h3>MY RECIPEは、日々の献立作りをお手伝いするサイトです。</h3>
    <br>
    <h6>レシピをご登録いただくと、<br>
     レシピの確認から日々の献立作りまで<br>
     このサイトひとつで行うことができます。</h6>
  </div>

  <div class="row how_to_use">
    <%= render 'how_to_use' %>
  </div>
 </div>
</div>