<ul class="form-inline memo.id">
  <li>
    <%= memo.memo %>
    <%= link_to '', memo, method: :delete, class: "fas fa-trash-alt delete_icon", "data-confirm" => "本当に消しますか？", remote: true %>
  </li>
</ul>