/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require simple_calendar
 *= require_tree .
 */
 @charset "UTF-8";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// TOPへ戻る
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

// ヘッダー
.navbar {
 background-color: #D9D9D9;
}

// フッター
footer {
  width: 100%;
  height: 120px;
  padding: 100px 0;
  color: #ffffff;
}


// フォント、背景色、文字色
 body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #D9D9D9;
  //ヘッダーとbodyが被らないよう下にずらす
  padding-top: 100px;
  color: #696969;
 }


// ロゴ
 .header-logo {
  font-size: 40px;
 }


// フラッシュメッセージ装飾
 .flash {
  color: white;
  text-align: center;

  .notice {
    background-color: #61C1CD;
  }

  .alert {
    background-color: #D4D818;
  }
}

// リボン柄見出し
h4 {
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
  width: 70%;
}

h4::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px;
}

.how_to_use {
 padding: 5px 5px 50px 5px;
}