// Place all the styles related to the shopping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// shopping_listタブ
#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #696969;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  margin-right: 125px;
  background: #fff;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}



// メモ機能
.color {
  color : red;
}

.all-memos {
  padding: 0px;
}